<div class="top-bar">
    <div class="top-bar-right">
       <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">{{term.loggedInUser.firstName}}  {{term.loggedInUser.lastName}}</li>


            <li><a href="#">مشاهده گروه های آموزشی</a></li>
            <li><a href="#">ایجاد گروه آموزشی جدید</a></li>

            <li><a href="#">مشاهده ترم ها</a></li>
            <li><a href="#">ایجاد ترم جدید</a></li>

            <li><a href="#">مشاهده دروس</a></li>
            <li><a href="#">ایجاد درس جدید</a></li>
            <li><a href="#">اطلاعات هویتی</a>
            <li><a href="#">ورود/خروج</a></li>
        </ul>
    </div>
    <div class="top-bar-left">
        <ul class="menu">
            <li> 15:49:54 یکشنبه 10 فروردین 1396</li>
            <!--<li><input type="search" placeholder="Search"></li>-->
            <!--<li><button type="button" class="button">Search</button></li>-->
        </ul>
    </div>
</div>
<br>

<form>
    <div class="row">
        <div class="medium-6 columns">


        </div>
        <div class="medium-6 columns">
            <label>نام ترم
                <input type="text" id="inputTitle" name="inputTitle" placeholder="Title" ng-model="term.editedterm.title" ng-required="true">
            </label>
            <button style="width: 100% ;margin-top: 4px" class="button"  ng-click="term.register()"   > ثبت</button>
        </div>
    </div>
    <h3>
        دروس ترم
    </h3>
    <div  id="term_courses">
        <div class="row">
            <div class="medium-1 columns">
                <button type="button" style="width:100%;margin-top:23px " class="button alert btn-remove-course">حذف</button>
            </div>
            <div class="medium-3 columns">
                <label>زمان امتحان
                    <input type="text" id="inputExam" name="inputExamp" placeholder="Exam" ng-model="term.courses[0].exam" ng-required="true">
                </label>

            </div>
            <div class="medium-3 columns">
                <label>زمان ارایه
                    <input type="text" id="inputTime" name="inputTime" placeholder="Time" ng-model="term.courses[0].time" ng-required="true">
                </label>
            </div>

            <div class="medium-3 columns">
                <label>استاد
                    <select ng-model="term.courses[0].teacherID"  name="inputTeacher" ng-required="true" ng-options="teacher.id as teacher.user.lastName for teacher in term.allteachers">
                    <option value="">Please select...</option>
                </select>
                </label>

            </div>
            <div class="medium-2 columns">
                <label> درس
                <select ng-model="term.courses[0].courseID"  name="inputCourse" ng-required="true" ng-options="course.courseId as course.title for course in term.allcourses">
                    <option value="">Please select...</option>
                </select>
            </label>
            </div>
        </div>

        <hr>
    </div>
    <div class="row">
        <div class="medium-12 columns">
            <button type="button" id="btn-add-course" style="width: 500px;" class="button">اضافه کردن درس</button>
        </div>
    </div>
    <div class="row">
        <div class="medium-12 columns">
            <button type="button"  style="width: 500px;" class="button">ثبت</button>
        </div>
    </div>





</form>
