<div class="top-bar">
    <div class="top-bar-right">
        <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">{{user.loggedInUser.firstName}}  {{user.loggedInUser.lastName}}</li>
            <li><a href="#">مشاهده کارنامه و ترم ها</a>
            <li><a href="#">دروس ارایه شده در ترم</a>
            <li><a href="#">اطلاعات هویتی</a>
            <li><a href="#">ورود/خروج</a></li>

        </ul>
    </div>
    <div class="top-bar-left">
        <ul class="menu">
            <li> 15:49:54 یکشنبه 10 فروردین 1396</li>
            <!--<li><input type="search" placeholder="Search"></li>-->
            <!--<li><button type="button" class="button">Search</button></li>-->
        </ul>
    </div>
</div>
<br>

    <div class="large-12 columns">
        <h3>
دانشجوی عزیز به سیستم جامع مدیریت آموزشی خوش آمدید.
        </h3>
    </div>

    <div class="large-12 columns">
        <h5>
برای انتخاب عملیات مورد نظر از منوی بالای سایت استفاده کنید.
        </h5>
    </div>
<div id="copyright">
    desgin by a good team - 2017 all right reserverd

</div>