<!--<!doctype html>-->
<!--<html class="no-js" lang="en">-->
<!--<head>-->
    <!--<meta charset="utf-8" />-->
    <!--<meta http-equiv="x-ua-compatible" content="ie=edge">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0" />-->
    <!--<title>Foundation Starter Template</title>-->
<!--</head>-->
<!--<body>-->

<div class="top-bar">
    <div class="top-bar-right">
        <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">سیستم جامع آموزشی</li>

            <li><a href="#/register">ثبت نام</a></li>
        </ul>
    </div>
    <div class="top-bar-left">
        <ul class="menu">
            <li> 15:49:54 یکشنبه 10 فروردین 1396</li>
            <!--<li><input type="search" placeholder="Search"></li>-->
            <!--<li><button type="button" class="button">Search</button></li>-->
        </ul>
    </div>
</div>
<br>

    <div class="row">
        <div class="medium-4 columns">
            <br>
        </div>
        <div class="medium-4 columns">
            <label>نام کاربری
                <input type="text" id="inputUsername" name="inputUsername" placeholder="User-Name" ng-model="user.loginUser.userName" ng-required="true">
            </label>
            <label>کلمه ورود
                <input type="password" id="inputPassWord" name="inputPassWord" placeholder="PassWord" ng-model="user.loginUser.password" ng-required="true">
            </label>

            <button style="width: 100%" class="button" ng-click="user.login()"> ورود</button>
        </div>
        <div class="medium-4 columns">
            <br>
        </div>
    </div>




<div id="copyright">
    desgin by a good team - 2017 all right reserverd
</div>
<script>
    $(document).foundation();
</script>