
<div class="top-bar">
    <div class="top-bar-right">
        <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">سیستم جامع آموزشی</li>

            <li><a href="#/login"> ورود</a></li>
        </ul>
    </div>
    <div class="top-bar-left">
        <ul class="menu">
            <li> 15:49:54 یکشنبه 10 فروردین 1396</li>
            <!--<li><input type="search" placeholder="Search"></li>-->
            <!--<li><button type="button" class="button">Search</button></li>-->
        </ul>
    </div>
</div>
<br>



<form>
    <div class="row">
        <div class="medium-6 columns">
          <label>شماره
                <input type="text" id="inputNumber" name="inputNumber" placeholder="Number" ng-model="user.registerUser.number" ng-required="true">
            </label>
            <label>نام کاربری
                <input type="text" id="inputUserName" name="inputUserName" placeholder="User-Name" ng-model="user.registerUser.userName" ng-required="true">
            </label>
            <label>گذر واژه
                <input type="password" id="inputPassWord" name="inputPassWord" placeholder="PassWord" ng-model="user.registerUser.password" ng-required="true">
            </label>
            <label>تکرار گذر واژه
                <input type="password" id="inputRPassWord" name="inputRPassWord" placeholder="Re-PassWord" ng-model="user.registerUser.rpassword" ng-required="true">
            </label>

        </div>
        <div class="medium-6 columns">

            <label>نام
                <input type="text" id="inputFirstName" name="inputFirstName" placeholder="First-Name" ng-model="user.registerUser.firstName" ng-required="true">
            </label>
            <label>نام خانوادگی
                <input type="text" id="inputLastName" name="inputLastName" placeholder="Last-Name" ng-model="user.registerUser.lastName" ng-required="true">
            </label>
            <label>ایمیل
                <input type="text" id="inputEmail" name="inputEmail" placeholder="E-Mail" ng-model="user.registerUser.email" ng-required="true">
            </label>

            <label>نقش
                <select ng-model="user.registerUser.role">
                    <option value="student">دانشجو</option>
                    <option value="teacher">استاد</option>
                    <option value="manager">مدیر گروه</option>
                </select>
            </label>


            <button style="width: 100%; margin-top: 4px" class="button" ng-click="user.register()"> ثبت</button>

        </div>
    </div>
</form>