<div class="top-bar">
    <div class="top-bar-right">
       <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">{{group.loggedInUser.firstName}}  {{group.loggedInUser.lastName}}</li>


            <li><a href="#">مشاهده گروه های آموزشی</a></li>
            <li><a href="#">ایجاد گروه آموزشی جدید</a></li>

            <li><a href="#">مشاهده ترم ها</a></li>
            <li><a href="#">ایجاد ترم جدید</a></li>

            <li><a href="#">مشاهده دروس</a></li>
            <li><a href="#">ایجاد درس جدید</a></li>
            <li><a href="#">اطلاعات هویتی</a>
            <li><a href="#">ورود/خروج</a></li>
        </ul>
    </div>
    <div class="top-bar-left">
        <ul class="menu">
            <li> 15:49:54 یکشنبه 10 فروردین 1396</li>
            <!--<li><input type="search" placeholder="Search"></li>-->
            <!--<li><button type="button" class="button">Search</button></li>-->
        </ul>
    </div>
</div>
<br>

<form>
    <div class="row">
        <div class="medium-6 columns">
            <label>نام گروه
               <input type="text" id="inputTitle" name="inputTitle" placeholder="Title" ng-model="group.editedGroup.title" ng-required="true">
            </label>

        </div>
        <div class="medium-6 columns">
            <label>شماره گروه
                <input type="text" id="inputID" name="inputID" placeholder="ID" ng-model="group.editedGroup.groupID" ng-required="true">
            </label>
            <button style="width: 100% ;margin-top: 4px" class="button"  ng-click="group.register()"   > ثبت</button>
        </div>
    </div>
</form>
