<div class="top-bar">
    <div class="top-bar-right">
       <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">{{group.loggedInUser.firstName}}  {{group.loggedInUser.lastName}}</li>


            <li><a href="#">مشاهده گروه های آموزشی</a></li>
            <li><a href="#">ایجاد گروه آموزشی جدید</a></li>

            <li><a href="#">مشاهده ترم ها</a></li>
            <li><a href="#">ایجاد ترم جدید</a></li>

            <li><a href="#">مشاهده دروس</a></li>
            <li><a href="#">ایجاد درس جدید</a></li>
            <li><a href="#">اطلاعات هویتی</a>
            <li><a href="#">ورود/خروج</a></li>
        </ul>
    </div>
    <div class="top-bar-left">
        <ul class="menu">
            <li> 15:49:54 یکشنبه 10 فروردین 1396</li>
            <!--<li><input type="search" placeholder="Search"></li>-->
            <!--<li><button type="button" class="button">Search</button></li>-->
        </ul>
    </div>
</div>
<br>

<div class="row">
    <div class="large-12 columns">
        <table class="stacked-for-medium hover">
            <thead>
            <tr>
                <!--<th>ردیف</th>-->
                <th>نام گروه</th>
                <th>شماره</th>
                <th>عملیات</th>
            </tr>
            </thead>
            <tbody ng-repeat="gr in group.groups">
                <tr>
                    <!--<td>1 </td>-->
                    <td>{{gr.title}}</td>
                    <td>{{gr.groupId}}</td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
