
<div class="top-bar">
    <div class="top-bar-right">
        <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">{{course.loggedInUser.firstName}}  {{course.loggedInUser.lastName}}</li>


            <li><a href="#">مشاهده گروه های آموزشی</a></li>
            <li><a href="#">ایجاد گروه آموزشی جدید</a></li>

            <li><a href="#">مشاهده ترم ها</a></li>
            <li><a href="#">ایجاد ترم جدید</a></li>

            <li><a href="#">مشاهده دروس</a></li>
            <li><a href="#">ایجاد درس جدید</a></li>
            <li><a href="#">اطلاعات هویتی</a>
            <li><a href="#">خروج</a></li>
        </ul>
    </div>
    <div class="top-bar-left">
        <ul class="menu">
            <li> 15:49:54 یکشنبه 10 فروردین 1396</li>
            <!--<li><input type="search" placeholder="Search"></li>-->
            <!--<li><button type="button" class="button">Search</button></li>-->
        </ul>
    </div>
</div>
<br>
<div class="row">
    <div class="large-12 columns">
        <h3>لیست درس ها</h3>
    </div>
</div>
<br>
<div class="row">
    <div class="large-12 columns">
        <table class="stacked-for-medium hover">
            <thead>
            <tr>
                <!--<th>ردیف</th>-->
                <th>نام درس</th>
                <th>واحد درس</th>
                <th>گروه درس </th>
                <th>عملیات</th>
            </tr>
            </thead>
            <tbody ng-repeat="cr in course.allCourses">
                <tr>
                    <!--<td>1 </td>-->
                    <td>{{cr.title}}</td>
                    <td>{{cr.unit}}</td>
                    <td>{{cr.group.title}}</td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="copyright">
    desgin by a good team - 2017 all right reserverd

</div>
<script src="lib/jquery/jquery.js"></script>
<script src="lib/foundation/js/what-input.js"></script>
<script src="lib/foundation/js/foundation.min.js"></script>
<script>
    $(document).foundation();
</script>

</body>
</html>