<div class="top-bar">
    <div class="top-bar-right">
       <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">{{course.loggedInUser.firstName}}  {{course.loggedInUser.lastName}}</li>


            <li><a href="#">مشاهده گروه های آموزشی</a></li>
            <li><a href="#">ایجاد گروه آموزشی جدید</a></li>

            <li><a href="#">مشاهده ترم ها</a></li>
            <li><a href="#">ایجاد ترم جدید</a></li>

            <li><a href="#">مشاهده دروس</a></li>
            <li><a href="#">ایجاد درس جدید</a></li>
            <li><a href="#">اطلاعات هویتی</a>
            <li><a href="#">ورود/خروج</a></li>
        </ul>
    </div>
    <div class="top-bar-left">
        <ul class="menu">
            <li> 15:49:54 یکشنبه 10 فروردین 1396</li>
            <!--<li><input type="search" placeholder="Search"></li>-->
            <!--<li><button type="button" class="button">Search</button></li>-->
        </ul>
    </div>
</div>
<br>

   <form>
    <div class="row">
        <div class="medium-6 columns">
            <label>نام درس
                <input type="text" id="inputTitle" name="inputTitle" placeholder="Title" ng-model="course.editedCourse.title" ng-required="true">
            </label>
            <br>
            <button style="width: 100% ;margin-top: 4px" class="button"  ng-click="course.register()"   > ثبت</button>
        </div>
        <div class="medium-6 columns">
            <label>واحد
                <input type="text" id="inputUnit" name="inputUnit" placeholder="Unit" ng-model="course.editedCourse.unit" ng-required="true">
            </label>

            <label>گروه درس
                <select ng-model="course.editedCourse.groupID"  name="inputGroup" ng-required="true" ng-options="group.groupId as group.title for group in course.groups">
                    <option value="">Please select...</option>
                </select>
            </label>
        </div>
    </div>
</form>
